// Global styles
html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  font-family: $font-primary;
  font-size: $font-size;
  color: $black;
  font-weight: 400;
  background: $whiteBg;
  line-height: 1.6;
}
body section {
  width: calc(100% - 40px);
  max-width: 210mm;
  min-height: 280mm;
  padding: 2.2mm 1.5mm;
  margin: 10mm auto;
  background: $white-2;
}



a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.auto__container {
  position: relative;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 60px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
