$primary: #185f76;
$black: #1e1f24;
$white: #fff;
$white-2: #F7F7F7;
$gray: #707070;
$whiteBg: #E4E4E4;
$white-1: rgba(
  $color: #fff,
  $alpha: 0.3,
);
$orange: #e96d24;
$font-size: 6.8pt;
$font-size-title: 8.5pt;
$font-size-paragraph: 6pt;
$input-padding:2.3mm 0 1.5mm 3mm;
$input-padding-sm:1mm 2mm;
$font-primary: "Tahoma", sans-serif;
