// components
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  span,
  input,
  textarea {
    border: 1px solid $primary;
    background: $white;
    font-size: $font-size;
    border-radius: 1.5mm;
    padding: 1mm 2mm;
    color: $black;
    font-weight: normal;
    resize: none;
    white-space: unset;
  }
}
.input {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    &:checked + .circle {
      border-color: $primary;
      &::before {
        opacity: 1;
      }
    }
  }
  .circle {
    width: 12px;
    height: 12px;
    border: 1px solid $gray;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    background: $white;
    &::before {
      content: "";
      width: 70%;
      height: 70%;
      background: $primary;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: 0.3s linear;
      opacity: 0;
    }
    &.check {
      &::before {
        border-top: 1px solid $primary;
        border-right: 1px solid $primary;
        top: 30%;
        left: 30%;
        width: 40%;
        height: 20%;
        border-radius: unset;
        transform: rotate(130deg);
        background: unset;
      }
    }
  }
  &--radio {
  }
  textarea {
    border: 1px solid $primary;
    background: $white;
    font-size: $font-size;
    border-radius: 1.5mm;
    padding: 1mm 2mm;
    color: $black;
    font-weight: normal;
    resize: none;
    white-space: unset;
  }
  &--text{
    textarea {
      border: 1px solid $primary;
      background: $white;
      font-size: $font-size;
      border-radius: 1.5mm;
      padding: 1mm 2mm;
      color: $black;
      font-weight: normal;
      resize: none;
      white-space: unset;
    }
  }
}
.checkBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  &__body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  &--border {
    padding-left: 15px;
    border-left: 1px solid $gray;
  }
}
.title {
  padding-bottom: 1.5mm;
  border-bottom: 1px solid $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: $primary;
    font-size: $font-size-title;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $white;
  padding: 3mm 2.5mm;
  border-radius: 1.5mm;
  h2 {
    color: $orange;
    font-size: 10pt;
  }
  p {
    font-size: 11pt;
  }
  &__logo {
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &--lg {
    padding: 5mm 4.5mm;
  }
}
.pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.popUp {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
  background: rgba(#000000, 0.2);
  opacity: 0;
  pointer-events: none;
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: 16px;
    padding: 20px 40px 30px;
    width: 50%;
    box-shadow: 0 5px 5px rgba(#000000, 0.2);
    z-index: 2;
    &-close{
      position: absolute;
      top: 15px;
      right: 20px;
      width: 20px;
      height: 20px;
      &::before{
        content: "";
        width: 100%;
        height: 2px;
        background: $orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%) rotate(45deg);
      }
      &::after{
        content: "";
        width: 100%;
        height: 2px;
        background: $orange;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%) rotate(-45deg);
      }
    }
  }
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 10px;
  }
  textarea {
    min-height: 200px;
    width: 100%;
    border-color: $gray;
    font-size: 8pt;
  }
  &.active{
    opacity: 1;
    pointer-events: all;
  }
  &Item{
    display: none;
    &.active{
      display: block;
    }
  }
}
