// Media
@media not print {
  body {
    zoom: 1.3;
  }
}

@media print {
  body {
    zoom: 0.93;
  }
  section {
    page-break-after: always;
    margin: 0;
    background: $white-2;
  }
}
@page {
  size: auto;
  margin: 0;
}
